body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chess-board{
    display: grid;
    grid-template-columns: repeat(8,45px);
    grid-template-rows: repeat(8,45px);
}

.chess-square{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black
}
